.iphone,
.ipad {
    display: block;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 0.5em #000;
    /* background-color: #000; */
    background-color: #e8ebf0;
    background-size: auto 200%, cover;
    background-repeat: no-repeat, no-repeat;
    /* border: solid #111; */
    border: solid #e8ebf0;

    margin-bottom: 2em;
    position: relative;
    box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #DDD inset;
    transition: all 0.1s linear, line-height 0s linear;
    overflow: hidden;
}

.iphone:hover,
.ipad:hover {
    color: transparent;
    text-shadow: 0 0 0em transparent;
    background-position: 50% -100%, center center;
    transition: all 0.15s linear, line-height 5s linear;
    line-height: 0vmin;
}

.iphone {
    width: 250px;
    height: 500px;
    line-height: 51.4455445545vmin;
    border-width: 10px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #111), url(https://www.apple.com/v/iphone-xs/d/images/overview/screen_display_wallpaper_iphonexs_large.jpg);
    z-index: 200;
}

.ipad {
    margin-left: 2em;
    height: 85.8vmin;
    width: 60vmin;
    line-height: 85.8vmin;
    border-width: 10px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #111), url(https://www.apple.com/v/ipad-pro/s/images/overview/retina_screen_1__csuokryyjb42_large.jpg);
    z-index: 100;
}

.screenshot {
    width: 100%;
    border-radius: 20px;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
}

.iphone:hover .scroll-indicator,
.ipad:hover .scroll-indicator {
    opacity: 1;
}